@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@import "./cli.css";
@import "./cloud.css";
@import "./languages.css";
@import "./navbar.css";
@import "./showcase.css";
@import "./stats.css";
@import "./utilities.css";
@import "./variables.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;
}
