/* Margin all around */
.m-1 {
    margin: 1rem 0;
}

.m-2 {
    margin: 1.5rem 0;
}

.m-3 {
    margin: 2rem 0;
}

.m-4 {
    margin: 3rem 0;
}

.m-5 {
    margin: 4rem 0;
}

/* Margin top and bottom */
.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

/* Margin left and right */
.mx-1 {
    margin: 1rem 0;
}

.mx-2 {
    margin: 1.5rem 0;
}

.mx-3 {
    margin: 2rem 0;
}

.mx-4 {
    margin: 3rem 0;
}

.mx-5 {
    margin: 4rem 0;
}
